body {
  background: #eaeaea;
}

body * {
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,html {
  margin: 0;
  padding: 0;
  color: #242424;
}

td {
  border: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0 0 16px;
  padding: 0;
}

ul, ol {
  padding: 0;
  margin: 0 0 0 16px;
  li {
    &:first-child {
      margin-top: 10px;
    }
    margin-bottom: 10px;
    span {
      p {
        margin: 0;
        padding: 0;
        display: inline;
        color: inherit;
      }
    }
  }
}

ul {
  list-style-type: disc;
}

ol {
  margin: 0 0 0 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

td {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

a {
  color: #242424;
  text-decoration: underline;
  * {
    color: #242424;
    text-decoration: underline;
  }
}
