body {
  background: #eaeaea;
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #242424;
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

body, table, td {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

td {
  border: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0 0 16px;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  padding-left: 0;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 16px;

  li {
    color: #111827;
    font-size: 20px;
    line-height: 24px;
    span {
      line-height: 24px;
      font-size: 16px;
      p {
        margin: 0;
        padding: 0;
        display: inline;
        color: inherit;
      }
    }
  }
}

ol {
  li {
    font-size: 16px !important;
  }
}

td {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

a {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  color: #242424;
  text-decoration: underline;
  * {
    color: #242424;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    text-decoration: underline;
  }
}
